body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100px;
    padding: 5px;
    margin: 0 10px;
}

.form-group input[type="text"][readonly] {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-container {
    text-align: center;
    margin-top: 50px;
}

.center-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
